@model IEnumerable<NETBACKING.CORE.APPLICATION.ViewModels.Products.ProductViewModel>

@{
    ViewData["Title"] = "Lista de Productos";
    Layout = "_LayoutClient";
}

<div class="container mt-4">
 

    <div class="row">
        @if (!Model.Any())
        {
            <p>No hay productos disponibles.</p>
        }
        else
        {
            <div class="row">
                @foreach (var product in Model.Where(p => p.ProductType != "Prestamo" || p.LoanAmount > 0))
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                        <div class="card shadow-sm h-100">
                            <div class="card-body">
                                <h5 class="card-title">
                                    @if (product.ProductType == "CuentaAhorro")
                                    {
                                        <i class="bi bi-bank"></i> <span>Cuenta de Ahorro</span>
                                    }
                                    else if (product.ProductType == "Tarjetacredito")
                                    {
                                        <i class="bi bi-credit-card"></i> <span>Tarjeta de Credito</span>
                                    }
                                    else if (product.ProductType == "Prestamo")
                                    {
                                        <i class="bi bi-cash-stack"></i> <span>Prestamo</span> 
                                    }
                                </h5>
                                @if (product.ProductType == "CuentaAhorro")
                                {
                                    <p class="card-text">
                                        <strong>Identificador:</strong> @product.UniqueIdentifier <br />
                                        <strong>Balance:</strong> $@product.Balance
                                    </p>
                                }
                                else if (product.ProductType == "Tarjetacredito")
                                {
                                    <p class="card-text">
                                        <strong>Identificador:</strong> @product.UniqueIdentifier <br />
                                        <strong>Deuda:</strong> $@product.Balance <br/>
                                        <strong>Limite de Credito:</strong> $@product.CreditLimit
                                    </p>
                                }
                                else if (product.ProductType == "Prestamo")
                                {
                                    <p class="card-text">
                                        <strong>Identificador:</strong> @product.UniqueIdentifier <br />
                                        <strong>Deuda del Prestamo:</strong> $@product.LoanAmount <br/>
                                    </p>
                                }
                            </div>
                            <div class="card-footer text-muted text-center">
                                <small class="text-muted">@if (product.IsPrimary) { <span class="badge bg-primary">Principal</span> } else { <span class="badge bg-secondary">Secundario</span> }</small>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }

    </div>
</div>
