@{
    ViewData["Title"] = "Home Page"; // Título de la página
}

<div class="text-center">
    <h1 class="display-4">Hola</h1> <!-- Título principal -->
    <p>Aprende más sobre <a href="https://learn.microsoft.com/aspnet/core">cómo construir aplicaciones web con ASP.NET Core</a>.</p> <!-- Texto descriptivo -->
</div>